body
  background-color #00B284

//Миксин для инпутов
input()
  border none
  background-color rgba(0,178,132,0)

  font-size 36px
  font-weight 100

  outline none

  color #fff


//Цвет плейхолдера
::-webkit-input-placeholder
  color #8adfce

//Кнопка "Продолжить"
.button-submit-container
  padding-top 35px
  text-align center

.button-submit
  display inline-block
  border none

  padding 5px 17px

  font-size 13px
  color #00B284
  background-color #fff

  &[disabled]
    background-color #8adfce

//Основной блок
.main-layout
  font-family 'Helvetica Neue',Arial, sans-serif
  color #fff

  -webkit-font-smoothing antialiased

//Блок формы
.phone-form
  margin 0 auto
  width 635px

.phone-form-layout
  display inline-block


//Блок форма
.form-label
  font-size 13px
  margin 0 0 10px 0
  
.form-input
  display: inline-block


//Блок сумма
.money-input
  input()
  width 132px
  text-align right

.money-text
  font-size 25px
  font-weight 100

  color #fff
  display inline-block
  margin 0 0 0 19px


//Елементы телефона
.phone__item
  display inline-block

.phone__code
  input()
  width 64px

.phone__separator
  font-size 36px
  font-weight 100

.phone__number
  input()
  width 225px
